@model IEnumerable<StudentManagement.Models.Student>
@using (Html.BeginForm("Search", "Student", FormMethod.Get))
{
    <p>
        Search by Name:
        <input type="text" name="name" />

        Department Id:
        <input type="number" name="departmentId" />

        <input type="submit" value="Search" />
    </p>
}

<h2>Students List</h2>

<table border="1">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Department.DepartmentName</td>

           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
            </td>

        </tr>
        
    }

</table>